name: CI

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Login to Docker Hub
              run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Build image docker
              run: docker build -t jikey002/capstone-orm:latest .

            - name: Push image to Docker Hub
              run: docker push jikey002/capstone-orm:latest
